body{
    background:beige;
}

/*flex*/

.flex-contenedor{
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    display: flex;/*esto coloca cada caja una al lado de la otra*/
    flex-flow: row wrap;
    justify-content:space-evenly;/*elementos distribuidos*/
    /* justify-content:space-around;/*elementos distribuidos con margen*/
    width: 80%; /* height todo se ajusta */
    height: 500px;
    align-items:center; /* varios mas*/
    /* verificalo con mas cajas align-content: flex-start;*/
    margin: 0 auto;/*para centrar*/
}

.caja {
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}